html, body {
    /*height: 100%;*/
}

body {
  /*background-color: red;*/
}

.modal-header {
	background-image: url('../img/yessir-background.jpg');
	background-repeat: no-repeat;
	background-size: 100px;
	background-position: center;
}

.modal-footer {   border-top: 0px; }

.modal {
    overflow-y: scroll;
}

.btn-primary {
	background-color: black;
	border-color: black;
}

.navbar-inverse .navbar-nav > .logout > a {
  color: red;
}

.navbar-inverse {
	background-color: transparent;
	border: none;
}

.container {
	/*background-color: white;
	border-color: #080808;
	height: 100%;*/
}

.navbar-inverse .container {
	background-color: #222;
	border-color: #080808;
}

.pmsFilterTHeader .form-control {
	width: 100%;
}

.pmsTHeader {
	background: black;
	color: white;
}

.pmsTHeader th {
	text-align: center;
}

h1.pmsH1 {
	border-bottom: 1px solid;
	margin-bottom: 20px;
}

table.view-form tr td, table.view-form tr th {
	padding: 8px;
	text-align: left;
}

table.view-form {
	width: 100%;
}

table.edit-form tr td, table.edit-form tr th {
	padding: 8px;
	text-align: left;
}

table.edit-form input {
	width: 100%;
	-webkit-box-shadow: none;
    	box-shadow: none;
}

table.edit-form {
	width: 100%;
}

.view-menu {
	text-align: right;
}

.action-icon {
	margin-right: 5px;
}

.submit-button {
	width: 170px;
    padding: 15px 0 15px 0;
    margin-top: 15px;
    font-size: 20px;
    color: #eee;
    background-color: black;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;	
    border: 0;
}

div.required-notice {
	clear: both;
	color: red;
	text-align: left;
	margin-top: 20px;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
    font-weight: normal;
    font-size: x-small;
}

.welcome-span {
	color: white;
    float: right;
    padding-top: 15px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: black;
  border-color: black;
}

.ui-datepicker{ z-index: 9999 !important;}